@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #b9d643;
    color: black;
}
.bgImg{
    background-image: url(./assets/bg-shadow.png);
    
}
